/* div {
    border: 1px blue solid;
}  */

/* BACKGROUND STYLING */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Bodoni Moda', serif;
    color: #4F4A48;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}


body {
    /* page background color */
    background: rgb(254,253,171);
    background: linear-gradient(-90deg, rgba(254,253,171,1) 0%, rgba(255,206,186,1) 37%, rgba(228,195,250,1) 62%, rgba(218,244,226,1) 100%);   
    /* page layout */
    margin: 0;
    padding: 0;
}


/* -- LOGO -- */
.logo {
    font-size: 1.5rem;
    margin: .5rem;
}

#logo {
    height: 80px;
}


/* NAV START */
/* navbar */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFEB;
    color: #4F4A48;
    font-family:'Bodoni Moda', serif;
    font-size: 16px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #4F4A48;
    padding: 1rem;
}


#nav ul li:hover a{ 
    color: #9C43D7;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #4F4A48;
    border-radius: 10px;
}

/* NAV MEDIA QUERY for mobile breakpoint */
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* MAIN START */
main {
    padding-top: 2%;
    padding-bottom: 50%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 2%;
}

.center {
    display: grid;
    place-items: center;
}


/* SKILLS */
#skills {
    padding-left: 3px;
    padding-right: 3px;
    margin: 2px;
}

hr {
    border: none;
    border-top: 3px double #DAF4E2;
    color: #DAF4E2;
    overflow: visible;
    text-align: center;
    height: 10px;
}


/* BOOTSTRAP GALLERY */
.gallery-buttons {
    padding-top: 10px;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #4F4A48;
    border-radius: 5px;
    text-align: center;
    color: #9C43D7;
    margin-bottom: 30px;
}


.filter-button:hover {
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    color: #4F4A48;
    box-shadow: 0 0 10px 0 whitesmoke inset, 0 0 20px 2px whitesmoke;
    border: 3px solid whitesmoke;
    background-color: #DAF4E2;
}

.btn-default:active .filter-button:active {
    background-color: #9C43D7;
    color: #4F4A48
}

.port-image {
    width: 100%
}

.gallery_product {
    margin-bottom: 30px
}

.gallery-img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}





/* FOOTER START */
/* footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFEB;
    height: auto;
    /* width: 100vw; */
    width: auto;
    /* padding-top: 40px; */
    color: #4F4A48;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #4F4A48;
    /* border: 1.1px solid #4F4A48; */
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #9C43D7;
    background-color: #DAF4E2;
}

.footer-bottom{
    background: #FFFFEB;
    width: 100vw;
    padding: 20px;
    /* padding-bottom: 40px; */
    text-align: center;
}

.footer-bottom p{
    /* float: left; */
    font-size: 14px;
    word-spacing: 2px;
    /* text-transform: capitalize; */
 }

 .footer-bottom p a{
    color:#4F4A48;
    /* font-size: 14px; */
    text-decoration: none;
  }

  /* .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
} */

.footer-menu{
    float: right;
  }

.footer-menu ul{
display: flex;
}

.footer-menu ul li{
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a{
    color: #4F4A48;
    text-decoration: none;
}

.footer-menu ul li a:hover{
    color: #9C43D7;
    background-color: #DAF4E2;
}

/* footer media query for mobile breakpoint */
@media (max-width:600px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}
/* --------------------------------------- */



